<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./public/css/bootstrap.min.css">
    <link rel="stylesheet" href="./public/css/style.css">
    <title>Test VueJS</title>
</head>
<body>
    <div id="app" v-bind:style="styleObj">
        <p> Original Message: {{ message }} </p>
        <p> Reversed Message: {{ reverseMessage }}</p>
        <input v-model="message" type="text">
        <button v-on:click="openURL">Click me</button>
        <template v-if="name === 'minh'">
            <p>Minh</p>
        </template>
        <template v-else-if="name === 'ngoc'">
            <p>Ngoc</p>
        </template>
        <template v-else>
            <p>Not Ngoc or Minh</p>
        </template>
        <p v-for="number in numbers">
            {{ number }}
        </p>

        <input type="text"
        v-model="newTodoText"
        v-on:keyup.enter="addNewTodo"
        placeholder="Type something">
        <ul>
            <li v-for="(todo, index) in todos">
                {{ todo.id }}. {{ todo.title }}
                <button v-on:click="removeTodo(index)" class="btn btn-danger">Remove</button>
            </li>
        </ul>

        <button
        v-on:click="countNumber"
        v-bind:disabled="isDisabled">Count</button>
        <p> You click {{ count }} times</p>
        <p v-if="count === 10">Success! You click {{ count }} times</p>
    </div>

    
    

    <!-- JS -->
    <script src="./public/js/jquery-3.3.1.min.js"></script>
    <script src="./public/js/popper.min.js"></script>
    <script src="./public/js/bootstrap.min.js"></script>

    <script src="./public/js/vue.js"></script>

    <script src="./public/js/script.js"></script>

</body>
</html>